
		<div class="control-group">
			<label class="control-label">Title <sup>*</sup></label>
			
			<div class="controls">
			
			<select class="span1" id="title" name="userRegistration[title]">
				<option value="" name="-">-</option>
				<option value="1" name="Mr.">Mr.</option>
				<option value="2" name="Mrs">Mrs</option>
				<option value="3" name="Miss">Miss</option>
				
			</select>
			</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="inputFname1">First name <sup>*</sup></label>
				<div class="controls">
				  
				  <%= f.text_field :first_name,:id => "inputFname1",class: "form-control",placeholder: "First Name"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="inputLnam">Last name <sup>*</sup></label>
				<div class="controls">
				  <%= f.text_field :last_name,:id => "inputLnam",class: "form-control",placeholder: "Last Name"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="input_email">Email <sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :email,:id => "input_email",class: "form-control",placeholder: "Email"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
				<div class="controls">
					<%= f.password_field :password,:id => "inputPassword1",class: "form-control",placeholder: "Password"  %>
				</div>
		</div>  

		<div class="control-group">
				<label class="control-label" for="inputPassword2">Confirm Password <sup>*</sup></label>
				<div class="controls">
					<%= f.password_field :password_confirmation,:id => "inputPassword2",class: "form-control",placeholder: "Confirm Password"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label">Date of Birth <sup>*</sup></label>
				<div class="controls">
				  <select class="span1" id="days" name="days">
						<option value="">-</option>
							<option value="1" name="1">1&nbsp;&nbsp;</option>
							<option value="2" name="2">2&nbsp;&nbsp;</option>
							<option value="3" name="3">3&nbsp;&nbsp;</option>
							<option value="4" name="4">4&nbsp;&nbsp;</option>
							<option value="5" name="5">5&nbsp;&nbsp;</option>
							<option value="6" name="6">6&nbsp;&nbsp;</option>
							<option value="7" name="7">7&nbsp;&nbsp;</option>
					</select>
					<select class="span1" id="month" name="month">
					<option value="">-</option>
						<option value="1" name="1">1&nbsp;&nbsp;</option>
						<option value="2" name="2">2&nbsp;&nbsp;</option>
						<option value="3" name="3">3&nbsp;&nbsp;</option>
						<option value="4" name="4">4&nbsp;&nbsp;</option>
						<option value="5" name="5">5&nbsp;&nbsp;</option>
						<option value="6" name="6">6&nbsp;&nbsp;</option>
						<option value="7" name="7">7&nbsp;&nbsp;</option>
					</select>
					<select class="span1" id="year" name="year">
					<option value="">-</option>
						<option value="1" name="1">1&nbsp;&nbsp;</option>
						<option value="2" name="2">2&nbsp;&nbsp;</option>
						<option value="3" name="3">3&nbsp;&nbsp;</option>
						<option value="4" name="4">4&nbsp;&nbsp;</option>
						<option value="5" name="5">5&nbsp;&nbsp;</option>
						<option value="6" name="6">6&nbsp;&nbsp;</option>
						<option value="7" name="7">7&nbsp;&nbsp;</option>
					</select>
				</div>
		  	</div>

		<h4>Your address</h4>
		<div class="control-group">
				<label class="control-label" for="inputFname">First name <sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :first_name1,:id => "inputFname",class: "form-control",placeholder: "First Name"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="inputLname">Last name <sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :last_name1,:id => "inputLname",class: "form-control",placeholder: "Last Name"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="company">Company</label>
				<div class="controls">
					<%= f.text_field :company,:id => "company",class: "form-control",placeholder: "company"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="address">Address<sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :address1,:id => "address",class: "form-control",placeholder: "Adress"  %>
				  <span>Street address, P.O. box, company name, c/o</span>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="address2">Address (Line 2)<sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :address2,:id => "address2",class: "form-control",placeholder: "Adress line 2"  %>
				  <span>Apartment, suite, unit, building, floor, etc.</span>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="city">City<sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :city,:id => "city",class: "form-control",placeholder: "city"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="state">State<sup>*</sup></label>
				<div class="controls">
					<select id="state" name="userRegistration[state]">
					<option value="-">-</option>
					<option value="1">Alabama</option>
					</select>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="postcode">Zip / Postal Code<sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :zipcode,:id => "postcode",class: "form-control",placeholder: "Zip / Postal Code"  %>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="country">Country<sup>*</sup></label>
				<div class="controls">
				<select id="country" name="userRegistration[country]">
					<option value="-">-</option>
					<option value="1">Country</option>
				</select>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="aditionalInfo">Additional information</label>
				<div class="controls">
					<%= f.text_field :additional_info,:id => "aditionalInfo",class: "form-control" %>
				  
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="phone">Home phone <sup>*</sup></label>
				<div class="controls">
					<%= f.text_field :home_phone,:id => "phone",class: "form-control",placeholder: "phone" %>
				   <span>You must register at least one phone number</span>
				</div>
		</div>

		<div class="control-group">
				<label class="control-label" for="mobile">Mobile Phone </label>
				<div class="controls">
					<%= f.text_field :mobile_phone,:id => "mobile",class: "form-control",placeholder: "Mobile Phone" %>
				</div>
		</div>

		<p><sup>*</sup>Required field	</p>

		

